.cart-summary-container {
  width: 100%;
  align-self: flex-end;
  text-align: end;
  padding-bottom: 12px;
}

@media screen and (min-width: 576px) {
  .cart-summary-container {
    width: 300px;
    text-align: left;
    padding-bottom: 50px;
  }
}

.order-total {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #616e7c;
}

.total-price {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #171f46;
}

.no-of-cart-items {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #616e7c;
}

.checkout-button {
  height: 34px;
  width: 100%;
  background-color: #0b69ff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto';
}
